bandName  = T_MN
outputFile = beam-waterradiance-auxdata/src/main/resources/auxdata/Levitus-Annual-Temperature.nc
maskFile = beam-waterradiance-auxdata/examples/land-coverage-360.txt
interpolZ = true
is360 = true
maxIter = 1000
inputDir = C:\\Users\\Marco\\EOData\\temp_salin_maps
inputFiles = Temperature_Jan_StatMean_Level0.nc \
             Temperature_Feb_StatMean_Level0.nc \
             Temperature_Mar_StatMean_Level0.nc \
             Temperature_Apr_StatMean_Level0.nc \
             Temperature_May_StatMean_Level0.nc \
             Temperature_Jun_StatMean_Level0.nc \
             Temperature_Jul_StatMean_Level0.nc \
             Temperature_Aug_StatMean_Level0.nc \
             Temperature_Sep_StatMean_Level0.nc \
             Temperature_Oct_StatMean_Level0.nc \
             Temperature_Nov_StatMean_Level0.nc \
             Temperature_Dec_StatMean_Level0.nc

