bandName  = S_MN
outputFile = beam-waterradiance-auxdata/src/main/resources/auxdata/Levitus-Annual-Salinity.nc
maskFile = beam-waterradiance-auxdata/examples/land-coverage-360.txt
interpolZ = true
is360 = true
maxIter = 1000
inputDir = C:\\Users\\Marco\\EOData\\temp_salin_maps
inputFiles = Salinity_Jan_StatMean_Level0.nc \
             Salinity_Feb_StatMean_Level0.nc \
             Salinity_Mar_StatMean_Level0.nc \
             Salinity_Apr_StatMean_Level0.nc \
             Salinity_May_StatMean_Level0.nc \
             Salinity_Jun_StatMean_Level0.nc \
             Salinity_Jul_StatMean_Level0.nc \
             Salinity_Aug_StatMean_Level0.nc \
             Salinity_Sep_StatMean_Level0.nc \
             Salinity_Oct_StatMean_Level0.nc \
             Salinity_Nov_StatMean_Level0.nc \
             Salinity_Dec_StatMean_Level0.nc

